body{
 background: #352f5b;   
}

.container{
    max-width: 400px;
}

input[type=text], input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}

.button-clear, .button-clear:hover, .button-clear:active{
    background: red;
    max-width: 220px;
    border: none;
    color: #fff;
    font-size: 11px;

}

.todos li{
    background: #423a6f;
    color: inherit;

}

.delete{
    cursor: pointer;
}

.filtered {
    display: none;
}

