body{
 background: #352f5b;   
}

h2 {
    font-size: 12px;
}

.editable_text{
    cursor: pointer;
    border: 0.1px solid;
    border-color: transparent;
}



.editable_text:hover{
    border: 0.5px dotted white;
}

.text_editor {
    border: none;
    background: #ddd;
    color: #000;
    font-size: 14px;
    font-family: arial;
    width: 200px;
    cursor: text;
  }
  

.container{
    max-width: 400px;
}

input[type=text], input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}

.button-clear, .button-clear:hover, .button-clear:active, .button-clear.stay {
    background: red;
    max-width: 220px;
    border: none;
    color: #fff;
    font-size: 11px;
}

.todos li{
    background: #423a6f;
    color: inherit;
}

.delete{
    cursor: pointer;
}

.filtered {
    display: none;
}